

<div class="side-content">
    <h4 class="hello">Hello {{id}}!</h4>
</div>


<p>FacilityName: {{facility.name}}</p>
<p>MemberId: {{id}}</p>
<p>MemberCost: ${{facility.membercost}}</p>
<p>GuestCost: ${{facility.guestcost}}</p>

